.list-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    span {
        font-size: 13px;
        color: darkgray;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
}

mat-card {
    max-width: 800px;
    margin: auto;
    margin-top: 24px;
}

mat-list {
    max-width: 800px;
    margin: auto;
}
